[submodule "deps/fairseq"]
    path = deps/fairseq
    url = ../fairseq.git
    branch = tpu
    ignore = dirty
[submodule "deps/transformers"]
    path = deps/transformers
    url = https://github.com/huggingface/transformers.git
    branch = master
    ignore = dirty
